@import "tailwindcss";

html,
body,
#root {
    overflow-x: hidden;
    min-width: 100vw;
}

body {
    margin: 0; 
    color:white;
}

::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
}

* {
    -ms-overflow-style: none;
}