 PORT=8000 
 MONGODB_URL="mongodb uri " 
 JWT_SECRET=" any jwt secret password " 
 OPENROUTER_API_KEY=" open router api key  " 
  RAZORPAY_KEY_ID= razorpay test key 
  RAZORPAY_KEY_SECRET=  razorpay secret key 